/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 = require_tree .
 = require_self
 */


body {
  background-color: #E8E8E8;
  margin: 0px;
}

header {
  background-color:  #282828;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

h1 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}

h2 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.65rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}

h3 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.35rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}

p   {
  font-size: 1.25rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  line-height: 1.4;
}

a:visited {
  text-decoration: underline;
  color:  #505050;
}

a:hover {
  text-decoration: none;
  color: #1a1a1a;
}

a:active {
  text-decoration: none;
  color: #336600;
}

.economist-ctn {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: center;
}

.economist-card {
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border-radius: 15px; */
  width: 29%;
  padding: 5px;
  margin: 25px;
  background-color: #E0E0E0;
  text-align: center;
  border:1px solid #021a40;
}

.economist-card img {
  max-width: 200px;
  object-fit: cover;
  margin-left: 15%;
  margin-right: 15%;
}

.new-economist-form {
  display: block;



}

.hometowns {
  margin-left: 100px;
  display: inline;
  margin-left: 1rem;
  font-size: 1.65rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
  text-decoration: none;

}

.top-nav {
  padding-top: 40px;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.top-nav a {
  color: gray;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
  font-size: 1.5rem;
}

.sort_field {
  margin-left: 2rem;


}

.title {
  float: right;
  font-family: 'Chonburi', cursive;
  color: #909090;
  font-size: 3rem;
  width: 50%;
  margin-top: 15px;
}
